# Ignore environment variables
.env
server/.env
server/config/config.env

# Ignore log files
*.log

# Ignore node modules
node_modules/
server/node_modules/
client/node_modules

# Ignore VS Code settings
.vscode/

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore build/output folders
dist/
build/
